AzureHost/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": { "timing": { "type": "object" } },
  "variables": {
    "acceptRequestName": "AcceptRequest",
    "appInsightsName": "[resourceGroup().name]",
    "azureContainerConnectionApiId": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/aci')]",
    "azureContainerConnectionName": "Connection-AzureContainer",
    "azureContainerGroupPath": "/subscriptions/0f73e075-f06d-4c48-83b4-3a5e8caa6a30/resourceGroups/PythonViaWebhook/providers/Microsoft.ContainerInstance/containerGroups/@{variables('name')}",
    "blobConnectionApiId": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureblob')]",
    "blobConnectionName": "Connection-AzureBlob",
    "imageName": "python-via-webhook",
    "notifyResultName": "NotifyResult",
    "processRequestName": "ProcessRequest",
    "queueConnectionApiId": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azurequeues')]",
    "queueConnectionName": "Connection-AzureQueue",
    "registryName": "[uniqueString(resourceGroup().id)]",
    "storageName": "[uniqueString(resourceGroup().id)]",
    "surfaceResultName": "SurfaceResult",
    "tableConnectionApiId": "[concat(subscription().id,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuretables')]",
    "tableConnectionName": "Connection-AzureTable"
  },
  "outputs": {
    "acceptRequestName": {
      "type": "string",
      "value": "[variables('acceptRequestName')]"
    },
    "appInsightsKey": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Insights/components', variables('appInsightsName')), '2015-05-01').InstrumentationKey]"
    },
    "appInsightsName": {
      "type": "string",
      "value": "[variables('appInsightsName')]"
    },
    "azureContainerConnectionApiId": {
      "type": "string",
      "value": "[variables('azureContainerConnectionApiId')]"
    },
    "azureContainerConnectionName": {
      "type": "string",
      "value": "[variables('azureContainerConnectionName')]"
    },
    "azureContainerGroupPath": {
      "type": "string",
      "value": "[variables('azureContainerGroupPath')]"
    },
    "blobConnectionApiId": {
      "type": "string",
      "value": "[variables('blobConnectionApiId')]"
    },
    "blobConnectionName": {
      "type": "string",
      "value": "[variables('blobConnectionName')]"
    },
    "imageName": {
      "type": "string",
      "value": "[variables('imageName')]"
    },
    "notifyResultName": {
      "type": "string",
      "value": "[variables('notifyResultName')]"
    },
    "processRequestName": {
      "type": "string",
      "value": "[variables('processRequestName')]"
    },
    "queueConnectionApiId": {
      "type": "string",
      "value": "[variables('queueConnectionApiId')]"
    },
    "queueConnectionName": {
      "type": "string",
      "value": "[variables('queueConnectionName')]"
    },
    "registryKey": {
      "type": "string",
      "value": "[listCredentials(resourceId('Microsoft.ContainerRegistry/registries', variables('registryName')), '2017-10-01').passwords[0].value]"
    },
    "registryName": {
      "type": "string",
      "value": "[variables('registryName')]"
    },
    "storageKey": {
      "type": "string",
      "value": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2018-07-01').keys[0].value]"
    },
    "storageName": {
      "type": "string",
      "value": "[variables('storageName')]"
    },
    "surfaceResultName": {
      "type": "string",
      "value": "[variables('surfaceResultName')]"
    },
    "tableConnectionApiId": {
      "type": "string",
      "value": "[variables('tableConnectionApiId')]"
    },
    "tableConnectionName": {
      "type": "string",
      "value": "[variables('tableConnectionName')]"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "sku": { "name": "Standard_LRS" },
      "kind": "StorageV2",
      "name": "[variables('storageName')]",
      "apiVersion": "2018-07-01",
      "location": "[resourceGroup().location]",
      "properties": { "supportsHttpsTrafficOnly": true },
      "resources": [
        {
          "type": "blobServices/containers",
          "apiVersion": "2018-07-01",
          "name": "default/todo",
          "dependsOn": [ "[variables('storageName')]" ]
        },
        {
          "type": "blobServices/containers",
          "apiVersion": "2018-07-01",
          "name": "default/done",
          "dependsOn": [ "[variables('storageName')]" ]
        }
      ]
    },
    {
      "type": "Microsoft.ContainerRegistry/registries",
      "sku": { "name": "Basic" },
      "name": "[variables('registryName')]",
      "apiVersion": "2017-10-01",
      "location": "[resourceGroup().location]",
      "properties": { "adminUserEnabled": true }
    },
    {
      "type": "Microsoft.Insights/Components",
      "kind": "other",
      "name": "[variables('appInsightsName')]",
      "apiVersion": "2015-05-01",
      "location": "[resourceGroup().location]",
      "properties": { "Application_Type": "other" }
    },
    {
      "type": "Microsoft.Web/connections",
      "name": "[variables('azureContainerConnectionName')]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('azureContainerConnectionName')]",
        "api": { "id": "[variables('azureContainerConnectionApiId')]" }
      },
      "dependsOn": [ "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]" ]
    },
    {
      "type": "Microsoft.Web/connections",
      "name": "[variables('blobConnectionName')]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('blobConnectionName')]",
        "api": { "id": "[variables('blobConnectionApiId')]" },
        "parameterValues": {
          "accountName": "[variables('storageName')]",
          "accessKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2018-07-01').keys[0].value]"
        }
      },
      "dependsOn": [ "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]" ]
    },
    {
      "type": "Microsoft.Web/connections",
      "name": "[variables('queueConnectionName')]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('queueConnectionName')]",
        "api": { "id": "[variables('queueConnectionApiId')]" },
        "parameterValues": {
          "storageaccount": "[variables('storageName')]",
          "sharedkey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2018-07-01').keys[0].value]"
        }
      },
      "dependsOn": [ "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]" ]
    },
    {
      "type": "Microsoft.Web/connections",
      "name": "[variables('tableConnectionName')]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('tableConnectionName')]",
        "api": { "id": "[variables('tableConnectionApiId')]" },
        "parameterValues": {
          "storageaccount": "[variables('storageName')]",
          "sharedkey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2018-07-01').keys[0].value]"
        }
      },
      "dependsOn": [ "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]" ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "name": "[variables('acceptRequestName')]",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": { "$connections": { "type": "Object" } },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": { "method": "POST" }
            }
          },
          "actions": {
            "1.InitializeVariable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "name",
                    "type": "String",
                    "value": "@{guid()}"
                  }
                ]
              }
            },
            "2.CreateBlob": {
              "runAfter": { "1.InitializeVariable": [ "Succeeded" ] },
              "type": "ApiConnection",
              "inputs": {
                "body": "@{triggerBody()}",
                "host": { "connection": { "name": "@parameters('$connections')['azureblob']['connectionId']" } },
                "method": "post",
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "/todo",
                  "name": "@variables('name')",
                  "queryParametersSingleEncoded": true
                }
              },
              "runtimeConfiguration": { "contentTransfer": { "transferMode": "Chunked" } }
            },
            "3.InsertEntity": {
              "runAfter": { "2.CreateBlob": [ "Succeeded" ] },
              "type": "ApiConnection",
              "inputs": {
                "body": "@{concat('{ \"PartitionKey\":\"master\", \"RowKey\":\"', variables('name'),'\", \"Status\":\"Processing\", \"CallBackUrl\":', if(equals(triggerOutputs()['headers']?['CallbackUrl'], null), 'null', concat('\"', triggerOutputs()['headers']['Callback-Url'], '\"')), ' }')}",
                "host": { "connection": { "name": "@parameters('$connections')['azuretables']['connectionId']" } },
                "method": "post",
                "path": "/Tables/status/entities"
              }
            },
            "4.PutAMessageOnAQueue": {
              "runAfter": { "3.InsertEntity": [ "Succeeded" ] },
              "type": "ApiConnection",
              "inputs": {
                "body": "@{variables('name')}",
                "host": { "connection": { "name": "@parameters('$connections')['azurequeues']['connectionId']" } },
                "method": "post",
                "path": "/todo/messages"
              }
            },
            "5.Response": {
              "runAfter": { "4.PutAMessageOnAQueue": [ "Succeeded" ] },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "body": "@{concat('{ \"key\":\"', variables('name'),'\", \"status\":\"Processing\" }')}",
                "headers": { "Content-Type": "application/json" },
                "schema": {
                  "properties": { "key": { "type": "string" } },
                  "type": "object"
                },
                "statusCode": 202
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('blobConnectionName'))]",
                "id": "[variables('blobConnectionApiId')]"
              },
              "azurequeues": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('queueConnectionName'))]",
                "id": "[variables('queueConnectionApiId')]"
              },
              "azuretables": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('tableConnectionName'))]",
                "id": "[variables('tableConnectionApiId')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]",
        "[resourceId('Microsoft.Web/connections', variables('blobConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('queueConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('tableConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "name": "[variables('notifyResultName')]",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": { "$connections": { "type": "Object" } },
          "triggers": {
            "When_there_are_messages_in_a_queue": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 5
              },
              "splitOn": "@triggerBody()?['QueueMessagesList']?['QueueMessage']",
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('done')}/message_trigger"
              }
            }
          },
          "actions": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurequeues": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('queueConnectionName'))]",
                "id": "[variables('queueConnectionApiId')]"
              },
              "azuretables": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('tableConnectionName'))]",
                "id": "[variables('tableConnectionApiId')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]",
        "[resourceId('Microsoft.Web/connections', variables('queueConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('tableConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "name": "[variables('processRequestName')]",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": { "$connections": { "type": "Object" } },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Minute",
                "interval": "[int(parameters('timing').ProcessStartInterval)]"
              },
              "type": "Recurrence",
              "runtimeConfiguration": { "concurrency": { "runs": 10 } }
            }
          },
          "actions": {
            "1.InitializeVariable": {
              "inputs": {
                "variables": [
                  {
                    "name": "name",
                    "type": "String",
                    "value": "@{guid()}"
                  }
                ]
              },
              "type": "InitializeVariable"
            },
            "2.GetMessages": {
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['azurequeues']['connectionId']" } },
                "method": "get",
                "path": "/todo/messages",
                "queries": {
                  "numofmessages": "1",
                  "visibilitytimeout": "1"
                }
              },
              "runAfter": { "1.InitializeVariable": [ "Succeeded" ] },
              "type": "ApiConnection"
            },
            "3.IfQueueHasMessages": {
              "actions": {
                "4.CreateContainerGroup": {
                  "inputs": {
                    "body": {
                      "location": "[resourceGroup().location]",
                      "properties": {
                        "containers": [
                          {
                            "name": "@variables('name')",
                            "properties": {
                              "image": "[concat(variables('registryName'), '.azurecr.io/', variables('imageName'), ':latest')]",
                              "resources": {
                                "requests": {
                                  "cpu": 2,
                                  "memoryInGB": 3.5
                                }
                              }
                            }
                          }
                        ],
                        "imageRegistryCredentials": [
                          {
                            "password": "[listCredentials(resourceId('Microsoft.ContainerRegistry/registries', variables('registryName')), '2017-10-01').passwords[0].value]",
                            "server": "[concat(variables('registryName'), '.azurecr.io')]",
                            "username": "[variables('registryName')]"
                          }
                        ],
                        "osType": "Linux",
                        "restartPolicy": "OnFailure"
                      }
                    },
                    "host": { "connection": { "name": "@parameters('$connections')['aci']['connectionId']" } },
                    "method": "put",
                    "path": "[variables('azureContainerGroupPath')]",
                    "queries": { "x-ms-api-version": "2017-10-01-preview" }
                  },
                  "type": "ApiConnection"
                },
                "5.UntilDone": {
                  "actions": {
                    "6.Delay": {
                      "inputs": {
                        "interval": {
                          "count": "[int(parameters('timing').ProcessCompletePoll)]",
                          "unit": "Minute"
                        }
                      },
                      "type": "Wait"
                    },
                    "7.GetContainerGroupProperties": {
                      "inputs": {
                        "host": { "connection": { "name": "@parameters('$connections')['aci']['connectionId']" } },
                        "method": "get",
                        "path": "[variables('azureContainerGroupPath')]",
                        "queries": { "x-ms-api-version": "2017-10-01-preview" }
                      },
                      "runAfter": { "6.Delay": [ "Succeeded" ] },
                      "type": "ApiConnection"
                    }
                  },
                  "expression": "@equals(body('7.GetContainerGroupProperties')?['properties']?['instanceView']?['state'], 'Succeeded')",
                  "limit": { "timeout": "[parameters('timing').ProcessTimeout]" },
                  "runAfter": { "4.CreateContainerGroup": [ "Succeeded" ] },
                  "type": "Until"
                },
                "8.DeleteContainerGroup": {
                  "inputs": {
                    "host": { "connection": { "name": "@parameters('$connections')['aci']['connectionId']" } },
                    "method": "delete",
                    "path": "[variables('azureContainerGroupPath')]",
                    "queries": { "x-ms-api-version": "2017-10-01-preview" }
                  },
                  "runAfter": { "5.UntilDone": [ "Succeeded" ] },
                  "type": "ApiConnection"
                }
              },
              "expression": { "and": [ { "greaterOrEquals": [ "@length(body('2.GetMessages')?['QueueMessagesList']?['QueueMessage'])", 1 ] } ] },
              "runAfter": { "2.GetMessages": [ "Succeeded" ] },
              "type": "If"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurequeues": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('queueConnectionName'))]",
                "id": "[variables('queueConnectionApiId')]"
              },
              "aci": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureContainerConnectionName'))]",
                "id": "[variables('azureContainerConnectionApiId')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]",
        "[resourceId('Microsoft.Web/connections', variables('queueConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "name": "[variables('surfaceResultName')]",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": { "$connections": { "type": "Object" } },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "method": "GET",
                "relativePath": "{key}",
                "schema": {}
              }
            }
          },
          "actions": {
            "1.GetEntity": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['azuretables']['connectionId']" } },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('status')}/entities(PartitionKey='@{encodeURIComponent('master')}',RowKey='@{encodeURIComponent(triggerOutputs()['relativePathParameters']['key'])}')"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuretables": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('tableConnectionName'))]",
                "id": "[variables('tableConnectionApiId')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]",
        "[resourceId('Microsoft.Web/connections', variables('tableConnectionName'))]"
      ]
    }
  ]
}